body, header, main, main section, footer, .projects, .projects div, .projects div div{display: flex;}

body, main, .projects, .projects div{flex-direction: column;}

header, main section, .projects div div{flex-direction: row;}

body, .projects h1{margin: 0;}

header, main, footer, .projects div{justify-content: center;}

header, main, footer, .projects, .projects div, .projects div div{align-items: center;}

header, footer{height: 100px;}

.projects, .projects div, .projects div div{height: fit-content;}

.projects, .projects img{width: 400px;}

.projects, button{box-shadow: 0 5px 4px #000;}

#gamehub, #gamehub button:hover{color: #654FFF;}

#gamehub, #gamehub button:hover{background-color: #000;}

.projects p, button{margin-top: 10px;}






body{padding: 0; min-height: 100vh; font-family: sans-serif;}

h1{font-size: 32px;}

p, button{font-size: 20px;}

header{border-bottom: 2px solid #000;}

main{flex: 1; padding-top: 100px; padding-bottom: 100px;}

main section{flex-wrap: wrap; padding: 10px; width: 1500px; justify-content: space-evenly;}

footer{border-top: 2px solid #757575; width: 100%; color: #757575;}

.projects{border: 0.5px solid #000;}

#gamehub button{background-color:#654FFF; color: #fff; box-shadow: 0 5px 4px #2d2d2d;}

#tcsm button{background-color: transparent;}

#tcsm button:hover{background-color: #01EDBB;}

#pe1{background-color: #FFFDD0;}

.projects img{height: 325px;}

.projects h1{text-align: center;}

.projects p{width: 375px;}

.projects button{width: fit-content; height: 40px; background-color: #fff; border-radius: 5px;}

.projects div div{justify-content: space-between; width: 250px; line-height: 50px; margin-bottom: 20px;}





.projects button:hover{background-color: aqua; font-weight: bold;}

.projects div{margin-top: 20px;}






/*Scaling*/

@media(max-width: 1500px){
    main section{width: 1200px;}

    .projects img{height: 225px;}

    .projects, .projects img{width: 300px;}

    .projects p{width: 250px;}

    .projects p, button{font-size: 16px;}

    .projects div div{width: 200px;}

    .projects h1{font-size: 25px;}

    footer h2{font-size: 20px;}
}








@media(max-width: 1200px){
    header h1{font-size: 30px;}

    main section{width: 800px;}

    .projects img{height: 185px;}

    .projects, .projects img{width: 250px;}

    .projects p{width: 150px;}

    .projects p, button{font-size: 13px;}

    .projects div div{flex-direction: column;}

    .projects h1{font-size: 20px;}

    footer h2{font-size: 16px;}
}



@media(max-width: 800px){
    header h1, .projects h1{font-size: 25px;}

    main section{width: 450px; flex-direction: column; align-items: center;}

    .projects{margin-top: 50px;}

    #gamehub{margin-top: 0;}

    .projects img{height: 300px;}

    .projects, .projects img{width: 400px;}

    .projects p, .projects div div{width: 250px;}

    .projects p, button, footer h2{font-size: 20px;}

    .projects div div{flex-direction: row;}
}





@media(max-width: 500px){
    main section{width: 300px;}

    .projects img{height: 185px;}

    .projects, .projects img{width: 250px;}

    .projects p, button, footer h2{font-size: 14px;}

    .projects p, .projects div div{width: 200px;}
}





@media(max-width: 350px){
    header h1, .projects h1{font-size: 18px;}

    main section{width: 250px;}
}